.container {
    margin-top: 100px;
}

.my-input .form-control {
    display: inline-block;
    width: 80%;
}

p label {
    width: 18%;
}

input {
    margin-top: 5px;
}

.my-input {
    text-align: right;
}

#rem{
    width: 100%;
}

.my-model{
    margin: 8% auto;
}